*{  margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-color: #C2BBF0;
}
.container{
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: #fff;
    padding: 5%;
   width: 90vmin;
   border-radius: 10px;
   box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.search-box input {
    padding: 5px;
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #ae9cff;
    font-size: 16px;
}

#search-btn{
    padding: 15px 0;
    width: 25%;
    background-color: #8878cb;
    border: none;
    outline: none;
    color: #ffffff;
    border-radius: 5px;
}
.result{
    position: relative;
}
.result h3 {
    font-size: 30px;
    color: #1f194c;
}
.result .word {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.result button {
    background-color: transparent;
    color: #ae9cff;
    border: none;
    outline: none;
    font-size: 20px;
}
.result .details {
    display: flex;
    gap: 10px;
    color: #b3b6d4;
    margin: 5px 0 20px 0;
    font-size: 14px;
}
.word-meaning {
    color: #41445d;
}
.word-example {
    color: #575a7b;
    font-style: italic;
    border-left: 5px solid #554c7c;
    padding-left: 20px;
    margin-top: 30px;
}
.error {
    margin-top: 80px;
    text-align: center;
}